.contact {
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f6f7;
}

.contact > h3 {
  padding: 40px 0;
  margin-bottom: 0;
}

.box {
  -moz-transition: -moz-transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  -ms-transition: -ms-transform 1s ease;
  transition: transform 1s ease;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 15px 15px 35px 15px;
  background: #ffffff;
  color: #39454b;
}

.box > form {
  width: 100%;
}

.field {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: block;
  width: 100%;
  padding: 12px;
  background: none;
  border: solid 2px #e5e6e7;
  color: inherit;
  border-radius: 0.5em;
  margin-bottom: 18px;
  font-size: 15px;


  color: #323d42;
}

form > textarea {
  height: 170px;
  resize: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 165px;
  height: 58px;
  border-radius: 3.5em;
  background-color: #98c593;
  text-align: center;
  color: #ffffff;
  outline: 0;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  font-weight: 300;
}
