.gallery {
  background-color: #f5f6f7;
}

.gallery > h3 {
  text-align: center;
  padding: 40px 0;
  margin-bottom: 0;
}

.gallery-images {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery-images > img {
  height: auto;
  width: 90%;
  margin-bottom: 15px;
  cursor: pointer;
}

ul:last-child {
  margin-bottom: 0;
}
