/*.intro {
  padding: 15% 5% 0 5%;
	background: url(".././images/overlay.png"), url(".././images/intro.jpg");
  background-size: cover;
  background-repeat: repeat, no-repeat;
  color: #ffffff;
}*/

/*.intro > h1 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: -2.5px;
  margin-bottom: 20px;
}*/

/*.intro > h6 {
  font-size: 19px;
  margin-bottom: 20px;
}*/

/*.intro > p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 35px;
  text-align: center;
}*/

/*.intro-arrow {
  border-radius: 3em;
}*/

@media (min-width: 450px) {
  /*.intro {
    padding: 20% 8% 0 8%;
  }

  .intro > h1 {
    font-size: 70px;
    letter-spacing: -3.5px;
  }*/

  /*.intro > h6 {
    font-size: 24px;
  }*/

  /*.intro > p {
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 44px;
  }*/
}
